//--- Variables ---//

// Media Queries:
$m_smallest: 300px;
$m_smaller: 400px;
$m_small: 500px;
$m_smallish: 600px;
$m_tablet: 800px;
$m_medium: 960px;
$m_large: 1140px;
$m_larger: 1400px;
$m_huge: 1600px;

// Colours:
$c_bg: #e0e0e0;
$c_base: #333;
$c_primary: #007bb6;
$c_opposite: #fff;
$c_link: steelblue;

// Social colours:
$facebook: #3b5998;
$twitter: #00aced;
$gplus: #dd4b39;
$linkedin: #007bb6;
$pinterest: #cb2027;
$embed: #555;

// Other:
$il: "../images/"; //image location
$closeSize: 20px; // Close icon size
